@page
@model GeoClinet.Pages.setdetail.IndexModel

@{
    ViewData["Title"] = "List of Set Question Detail";
}

<div class="content">
    <div class="container w-[90%] mx-auto py-8 mb-8 items-center justify-center">
        <!-- Title and Create Button -->
        <div class="flex justify-between items-center mb-8">
            <h2 class="text-2xl font-bold mb-4">@ViewData["Title"]</h2>
            <a class="btn btn-success" asp-page="Create">
                <img src="~/css/plus-circle.svg" class="mr-2" />
                <span class="text-white">Create New Question</span>
            </a>
        </div>
        <!-- Questions Table -->
        <div class="w-full mt-8">
            <table class="table w-full rounded-box table-auto">
                <thead>
                    <tr>
                        <th class="font-semibold p-4 relative pr-6 text-left">@Html.DisplayNameFor(model => model.SetQuestionDetail[0].SetQuestion)</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">@Html.DisplayNameFor(model => model.SetQuestionDetail[0].Question)</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.SetQuestionDetail)
                    {
                        <tr class="bg-base-100 hover">
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.SetQuestion.SetName)</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.Question.Title)</td>
                            <td class="flex flex-grow font-semibold p-4 relative pr-6 break-words">
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="mr-2">
                                    <i data-feather="edit" aria-hidden="true"></i>
                                </a>
                                <a asp-page="./Delete" asp-route-id="@item.Id">
                                    <i data-feather="trash-2" aria-hidden="true"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Pagination Partial -->
            @* <div class="w-full mt-4 flex justify-end items-center gap-2">
            @await Html.PartialAsync("_PaginationPartial")
            </div> *@
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>
    <script>
        feather.replace();
    </script>
}