@page
@model GeoClinet.Pages.Pending.IndexModel

@{
    ViewData["Title"] = "Pending Approval";
}

<div class="content items-center justify-center">
    <div class="container w-[90%] mx-auto py-8 mb-8 items-center justify-center">
        <div class="flex justify-between items-center mb-8">
            <h2 class="text-2xl font-bold mb-4">@ViewData["Title"]</h2>
            <div>
                <a class="btn btn-base-200 mr-2" asp-page="/Profile123/Index">
                    <span class="text-base-content">Completed</span>
                </a>
                <a class="btn btn-base-200" asp-page="/Pending/Index">
                    <span class="text-base-content">Pending</span>
                </a>
            </div>
        </div>

        <form method="get" class="mb-4">
            <div class="flex items-center">
                <input id="searchInput" type="text" name="SearchTerm" value="@Model.SearchTerm" placeholder="Search Profile" class="input input-bordered w-64 mr-4" />
                
                <button type="submit" class="btn btn-primary ml-4" style="display:none">Search</button>
            </div>
            <script>
                document.addEventListener('keydown', function (event) {
                    // Check if the 'Ctrl' key and 'K' key are pressed together
                    if (event.ctrlKey && event.key === 'k') {
                        event.preventDefault(); // Prevent the default browser action
                        document.getElementById('searchInput').focus(); // Set focus to the search input
                    }
                });
            </script>
        </form>


        <div class="w-full mt-8">
            <table class="table w-full rounded-box table-auto overflow-auto">
                <thead>
                    <tr>
                        <th class="font-semibold p-4 relative pr-6 text-left">ID</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Email</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Username</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Phone</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Profile)
                    {
                        <tr class="bg-base-100 hover">
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.Id)</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td>
                                <form method="post" class="action-form">
                                    <input type="hidden" asp-for="@item.Id" value="@item.Id" name="Id" />
                                    <button type="button" class="btn-accept" data-id="@item.Id">
                                        <i data-feather="check-circle" aria-hidden="true" class="text-success text-2xl"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<dialog id="actionModal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg" id="modalTitle">Are you sure you want to accept this account?</h3>
        <div class="modal-action">
            <button type="button" class="btn btn-danger" id="confirmButton">Yes</button>
            <button type="button" class="btn" onclick="closeActionModal()">No</button>
        </div>
    </div>
</dialog>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.btn-accept').forEach(function (button) {
                button.addEventListener('click', function () {
                    showModal(this.dataset.id);
                });
            });
        });

        function showModal(id) {
            document.getElementById('modalTitle').innerText = 'Are you sure you want to accept this account?';
            const confirmButton = document.getElementById('confirmButton');
            confirmButton.onclick = function () {
                performAction(id);
            };
            document.getElementById('actionModal').showModal();
        }

        function closeActionModal() {
            document.getElementById('actionModal').close();
        }

        function performAction(id) {
            const form = document.querySelector(`.btn-accept[data-id="${id}"]`).closest('form');
            form.submit();
        }
    </script>
}
