@page
@model GeoClinet.Pages.Profile123.DetailsModel

@{
    ViewData["Title"] = "Details";
    var defaultImageUrl = "https://h5p.org/sites/default/files/h5p/content/1209180/images/file-6113d5f8845dc.jpeg";
}


<div class="flex items-center justify-center min-h-screen">
    <form class="w-full h-fit max-w-4xl bg-base-300 p-8 shadow-lg rounded-lg">
        <div class="flex">
            <div class="hidden md:block items-center justify-center" style="padding-top: 3rem">

                <div class="avatar" style="justify-content:center">
                    <div class="w-[250px] rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <img src="@(!string.IsNullOrEmpty(Model.Profile.Avatar) ? Model.Profile.Avatar : defaultImageUrl)"
                             alt="Question Image" class="img-fluid" style="max-width: 320px; border-radius: 8px;" />
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center mt-4">
                    <dt class="block text-sm font-bold mb-2">
                        @Html.DisplayNameFor(model => model.Profile.Avatar)
                    </dt>
                </div>

            </div>
            <div class="w-full ml-8">
                <h2 class="flex text-2xl font-bold items-center mb-3">Your Profile</h2>
                <div class="flex w-full space-x-4 mb-2">
                    <div class="relative w-1/2 mr-2">
                        <dt class="block text-sm font-bold mb-2">
                            <i data-feather="user" aria-hidden="true"></i>
                            @Html.DisplayNameFor(model => model.Profile.FirstName)
                        </dt>
                        <dd class="border border-base-300 rounded-lg p-4 w-full bg-base-200 inline-block">
                            @Html.DisplayFor(model => model.Profile.FirstName)
                        </dd>
                    </div>
                    <div class="relative w-1/2">
                        <dt class="block text-sm font-bold mb-2">
                            <i data-feather="user" aria-hidden="true"></i>
                            @Html.DisplayNameFor(model => model.Profile.LastName)
                        </dt>
                        <dd class="border border-base-300 rounded-lg p-4 w-full bg-base-200 inline-block">
                            @Html.DisplayFor(model => model.Profile.LastName)
                        </dd>
                    </div>
                </div>
                <div class="flex w-full space-x-4 mb-2">
                    <div class="relative w-1/2 mr-2">
                        <dt class="block text-sm font-bold mb-2">
                            <i data-feather="home" aria-hidden="true"></i> 
                            @Html.DisplayNameFor(model => model.Profile.City)
                        </dt>
                        <dd class="border border-base-300 rounded-lg p-4 w-full bg-base-200 inline-block">
                            @Html.DisplayFor(model => model.Profile.City)
                        </dd>
                    </div>
                    <div class="relative w-1/2">
                        <dt class="block text-sm font-bold mb-2">
                            <i data-feather="globe" aria-hidden="true"></i>
                            @Html.DisplayNameFor(model => model.Profile.State)
                        </dt>
                        <dd class="border border-base-300 rounded-lg p-4 w-full bg-base-200 inline-block">
                            @Html.DisplayFor(model => model.Profile.State)
                        </dd>
                    </div>
                </div>
                <div class="flex w-full space-x-4 mb-2">
                    <div class="relative w-1/2 mr-2">
                        <dt class="block text-sm font-bold mb-2">
                            <i data-feather="clock" aria-hidden="true"></i>
                            @Html.DisplayNameFor(model => model.Profile.LastUpdated)
                        </dt>
                        <dd class="border border-base-300 rounded-lg p-4 w-full bg-base-200 inline-block">
                            @Html.DisplayFor(model => model.Profile.LastUpdated)
                        </dd>
                    </div>
                    <div class="relative w-1/2">
                        <dt class="block text-sm font-bold mb-2">
                            <i data-feather="clock" aria-hidden="true"></i>
                            @Html.DisplayNameFor(model => model.Profile.CreatedAt)
                        </dt>
                        <dd class="border border-base-300 rounded-lg p-4 w-full bg-base-200 inline-block">
                            @Html.DisplayFor(model => model.Profile.CreatedAt)
                        </dd>
                    </div>
                </div>
                <div class="relative mb-2">
                    <dt class="block text-sm font-bold mb-2">
                        <i data-feather="clipboard" aria-hidden="true"></i>
                        @Html.DisplayNameFor(model => model.Profile.Description)
                    </dt>
                    <dd class="border border-base-300 rounded-lg p-4 w-full bg-base-200 inline-block">
                        @Html.DisplayFor(model => model.Profile.Description)
                    </dd>
                </div>
                <div class="flex flex-grow relative mb-6">
                    <dt class="block text-sm font-bold mb-2">
                        <i data-feather="lock" aria-hidden="true"></i>
                        @Html.DisplayNameFor(model => model.Profile.Isbanned)
                    </dt>
                    <dd class="ml-28">
                        @Html.DisplayFor(model => model.Profile.Isbanned)
                    </dd>
                </div>

                <a asp-page="./Index" class="btn btn-error w-48 text-white">Back to List</a>

            </div>

        </div>
        </form>
    
</div>
<div>


</div>
