@page
@model GeoClinet.Pages.Profile123.IndexModel

@{
    ViewData["Title"] = "User Management Status";
}

<div class="content items-center justify-center">
    <div class="container w-full mx-auto py-8 mb-8 items-center justify-center">
        <div class="flex justify-between items-center mb-8">
            <h2 class="text-2xl font-bold mb-4">@ViewData["Title"]</h2>
            <div>
                <a class="btn btn-base-200 mr-2" asp-page="/Profile123/Index">
                    <span class="text-base-content">Completed</span>
                </a>
                <a class="btn btn-base-200" asp-page="/Pending/Index">
                    <span class="text-base-content">Pending</span>
                </a>
            </div>
        </div>

        <form method="get" class="mb-4">
            <div class="flex items-center">
                <div class="mr-8"><input id="searchInput" type="text" name="SearchTerm" value="@Model.SearchTerm" placeholder="Search Profile" class="input input-bordered w-64 mr-4" /></div>
                
                <div class="pt-4">
                    <input type="checkbox" class="checkbox checkbox-success" name="SearchByEmail" value="true" @(Model.SearchByEmail ? "checked" : "") /> Search by Email
                    <input type="checkbox" class="checkbox checkbox-success" name="SearchByFirstName" value="true" @(Model.SearchByFirstName ? "checked" : "") /> Search by First Name
                    <input type="checkbox" class="checkbox checkbox-success" name="SearchByLastName" value="true" @(Model.SearchByLastName ? "checked" : "") /> Search by Last Name
                </div>
                <button type="submit" class="btn btn-primary ml-4" style="display:none">Search</button>
            </div>
            <script>
                document.addEventListener('keydown', function (event) {
                    // Check if the 'Ctrl' key and 'K' key are pressed together
                    if (event.ctrlKey && event.key === 'k') {
                        event.preventDefault(); // Prevent the default browser action
                        document.getElementById('searchInput').focus(); // Set focus to the search input
                    }
                });
            </script>
        </form>

        <div class="w-full mt-8">
            <table class="table w-full rounded-box table-auto overflow-auto">
                <thead>
                    <tr>
                        <th class="font-semibold p-4 relative pr-6 text-left">@Html.DisplayNameFor(model => model.Profile[0].Profile.User.Email)</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">@Html.DisplayNameFor(model => model.Profile[0].Profile.FirstName)</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">@Html.DisplayNameFor(model => model.Profile[0].Profile.LastName)</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Roles</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Profile)
                    {
                        <tr class="bg-base-100 hover">
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.Profile.User.Email)</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.Profile.FirstName)</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.Profile.LastName)</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">
                                @foreach (var role in item.Roles)
                                {
                                    <span>@role</span>
                                    <br />
                                }
                            </td>
                            <td class="flex flex-grow font-semibold p-4 relative pr-6 break-words">
                                @if (item.Profile.Isbanned)
                                {
                                    <form method="post" asp-page-handler="Unban" asp-route-id="@item.Profile.Id" class="action-form">
                                        <button type="button" class="btn-unban" data-id="@item.Profile.Id">
                                            <i data-feather="unlock" class="text-success mr-2 text-2xl" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-page-handler="Ban" asp-route-id="@item.Profile.Id" class="action-form">
                                        <button type="button" class="btn-ban" data-id="@item.Profile.Id">
                                            <i data-feather="lock" class="text-error mr-2 text-2xl" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                }
                                <a asp-page="./Details" asp-route-id="@item.Profile.Id" class="mr-2">
                                    <i data-feather="info" class="text-info text-2xl" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<dialog id="actionModal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg" id="modalTitle"></h3>
        <div class="modal-action">
            <button type="button" class="btn btn-danger w-24" id="confirmButton">Yes</button>
            <button type="button" class="btn w-24" onclick="closeActionModal()">No</button>
        </div>
    </div>
</dialog>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.btn-unban').forEach(function (button) {
                button.addEventListener('click', function () {
                    showModal('Are you sure you want to unban this account?', this.dataset.id, 'Unban');
                });
            });

            document.querySelectorAll('.btn-ban').forEach(function (button) {
                button.addEventListener('click', function () {
                    showModal('Are you sure you want to ban this account?', this.dataset.id, 'Ban');
                });
            });
        });

        function showModal(message, id, action) {
            document.getElementById('modalTitle').innerText = message;
            const confirmButton = document.getElementById('confirmButton');
            confirmButton.onclick = function () {
                performAction(id, action);
            };
            document.getElementById('actionModal').showModal();
        }

        function closeActionModal() {
            document.getElementById('actionModal').close();
        }

        function performAction(id, action) {
            const form = document.querySelector(`.action-form [data-id="${id}"]`).closest('form');
            form.submit();
        }
    </script>
}
