@page
@model GeoClinet.Pages.Profile123.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>User Management</h1>

<div class="w-full mt-8">
    <table class="table w-full rounded-box table-auto overflow-auto">
    <thead>
        <tr>
                <th class="font-semibold p-4 relative pr-6 text-left">
                @Html.DisplayNameFor(model => model.Profile[0].User)
            </th>
                <th class="font-semibold p-4 relative pr-6 text-left">
                @Html.DisplayNameFor(model => model.Profile[0].FirstName)
            </th>
                <th class ="font-semibold p-4 relative pr-6 text-left">
                @Html.DisplayNameFor(model => model.Profile[0].LastName)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Profile) {
                <tr class="bg-base-100 hover">
                    <td class ="font-semibold p-4 relative pr-6 break-words">
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
                    <td class="font-semibold p-4 relative pr-6 break-words">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
                    <td class="font-semibold p-4 relative pr-6 break-words">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                <td>
                    @if (item.Isbanned)
                    {
                        <form method="post" asp-page-handler="Unban" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-success">Unban</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="Ban" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-error">Ban</button>
                        </form>
                    }                   
                </td>           
            <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="mr-2">
                        <img src="css/info.svg" />
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
