@page
@model GeoClinet.Pages.Profile123.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>User Management</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].Isbanned)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Profile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbanned)
            </td>
                <td>
                    @if (item.Isbanned)
                    {
                        <form method="post" asp-page-handler="Unban" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-success">Unban</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="Ban" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger">Ban</button>
                        </form>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |               
            </td>
        </tr>
}
    </tbody>
</table>
