@page
@model GeoClinet.Pages.UserListModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "List of Users";
}

<div class="content items-center justify-center">
    <div class="container w-full mx-auto py-8 mb-8 items-center justify-center">
        <div>
            <h2 class="text-2xl font-bold mb-4">@ViewData["Title"]</h2>
        </div>
        <!-- Search Form -->
        <form method="get" class="m-xl-auto">
            <div class="flex">
                <div class="mr-8">
                    <input id="searchUserInput" type="text" name="SearchTerm" value="@Model.SearchTerm" placeholder="Search Ctrl + K" class="input input-bordered w-64 md:w-auto" />
                </div>
                <div class="pt-4">
                    <input type="checkbox" class="checkbox checkbox-success" name="SearchByUserName" value="true" @(Model.SearchByUserName ? "checked" : "") /> Search by UserName
                  @*   <input type="checkbox" class="checkbox checkbox-success ml-4" name="SearchByEmail" value="true" @(Model.SearchByEmail ? "checked" : "") /> Search by Email *@
                </div>
            </div>
            <input type="submit" value="Search" style="display:none;" />
            <script>
                document.addEventListener('keydown', function (event) {
                    if (event.ctrlKey && event.key === 'k') {
                        event.preventDefault();
                        document.getElementById('searchUserInput').focus();
                    }
                });
            </script>
        </form>

        <div class="w-full mt-8">
            <table class="table w-full rounded-box table-auto overflow-auto">
                <thead>
                    <tr>
                        <th class="font-semibold p-4 relative pr-6 text-left">Username</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Email</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Phone</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Roles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userWithRoles in Model.Users)
                    {
                        <tr class="bg-base-100 hover">
                            <td class="font-semibold p-4 relative pr-6 break-words">@userWithRoles.User.UserName</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@userWithRoles.User.Email</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@userWithRoles.User.PhoneNumber</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">
                                @foreach (var role in userWithRoles.Roles)
                                {
                                    <span>@role</span>
                                    <br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
