@page
@model GeoClinet.Pages.UserListModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "List of Users";
}

<div class="content items-center justify-center text-base-content">
    <div class="container w-full mx-auto py-8 mb-8 items-center justify-center">
        <div>
            <h2 class="text-2xl font-bold mb-4">@ViewData["Title"]</h2>
        </div>
        <!-- Search Form -->
        <form method="get" class="m-xl-auto flex justify-end" id="filterForm">
            <div class="bg-base-200 p-2 rounded-none">
                <div class="flex">
                    <input id="searchInput" type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Search User Ctrl + K" class="input input-bordered rounded-none w-64 md:w-auto text-base-content" />
                    <select name="SearchType" id="searchTypeDropdown" class="select select-bordered rounded-none text-base-content" onchange="submitForm()">
                        <option value="Both">All Category</option>
                        <option value="SearchByUserName">Usename</option>
                        <option value="SearchByEmail">Email</option>
                    </select>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            var defaultSearchType = "@Model.SearchType";
                            var dropdown = document.getElementById('searchTypeDropdown');
                            for (var i = 0; i < dropdown.options.length; i++) {
                                if (dropdown.options[i].value === defaultSearchType) {
                                    dropdown.options[i].selected = true;
                                    break;
                                }
                            }
                        });

                        function submitForm() {
                            document.getElementById("filterForm").submit();
                        }
                    </script>
                    <button type="submit" value="Search" class="btn btn-primary text-white rounded-none">
                        <i data-feather="search" class="text-white text-xl mr-2" aria-hidden="true"></i>
                    </button>
                </div>
            </div>              
            <script>
                document.addEventListener('keydown', function (event) {
                    if (event.ctrlKey && event.key === 'k') {
                        event.preventDefault();
                        document.getElementById('searchUserInput').focus();
                    }
                });
            </script>
        </form>

        <div class="w-full mt-8">
            <table class="table w-full rounded-box table-auto overflow-auto">
                <thead>
                    <tr>
                        <th class="font-semibold p-4 relative pr-6 text-left">Username</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Email</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Phone</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Roles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userWithRoles in Model.Users)
                    {
                        <tr class="bg-base-100 hover">
                            <td class="font-semibold p-4 relative pr-6 break-words">@userWithRoles.User.UserName</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@userWithRoles.User.Email</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@userWithRoles.User.PhoneNumber</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">
                                @foreach (var role in userWithRoles.Roles)
                                {
                                    <span>@role</span>
                                    <br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
