@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
    var userId = currentUser?.Id;
    ViewData["ActivePage"] = ManageNavPages.Index;

}

<head>
    <script defer src="~/lib/alpinejs/cdn.min.js"></script>
    <link rel="stylesheet" href="~/lib/feather/css/feather.min.css" />
    <!-- Preload fonts -->
    <link rel="preload" href="~/lib/feather/font/feather.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="~/lib/feather/font/feather.ttf" as="font" type="font/ttf" crossorigin>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeoTycoon</title>
    <link rel="icon" type="image/svg+xml" href="~/css/oc_preview_rev_2.png">
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Include jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include jQuery Validation Plugin from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <!-- Include other libraries from CDN if needed -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.0/dist/alpine.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.css">
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
</head>


<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<script>
    function enableInputs() {
        var inputs = document.querySelectorAll('.input[disabled]');
        inputs.forEach(function (input) {
            input.removeAttribute('disabled');
        });
        var textareas = document.querySelectorAll('.textarea[disabled]');
        textareas.forEach(function (textarea) {
            textarea.removeAttribute('disabled');
        });
    }
</script>
<script>
    function enableInput() {
        // Ẩn nút "Edit Profile"
        document.getElementById("editProfileButton").style.display = "none";
        // Hiển thị nút "Save"
        document.getElementById("saveButton").style.display = "inline-block";
    }
</script>

<div class="flex items-center justify-center min-h-screen">
    <form id="uploadForm" action="/Images"></form>
    <form id="editForm" method="post" enctype="multipart/form-data" class="w-full h-fit max-w-4xl bg-base-300 p-8 shadow-lg rounded-lg">
        <div class="flex">
            <div class="hidden md:block items-center justify-center" style="padding-top: 3rem">
                <div class="avatar" style="justify-content:center">
                    <div class="w-[250px] rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <label id="upload-label">
                            <img src="@(!string.IsNullOrEmpty(Model.Input.Avatar) ? Model.Input.Avatar : "https://h5p.org/sites/default/files/h5p/content/1209180/images/file-6113d5f8845dc.jpeg")" id="image-preview" />
                        </label>
                        <input type="file" form="uploadForm" id="file-upload" style="display: none;" accept="image/*" />
                        <input type="hidden" asp-for="Input.Avatar" id="avatar-url" />
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            console.log("upload");
                            document.getElementById('upload-label').addEventListener('click', function () {
                                document.getElementById('file-upload').click();
                            });

                            document.getElementById('file-upload').addEventListener('change', function (event) {
                                const file = event.target.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = function (e) {
                                        document.getElementById('image-preview').src = e.target.result;
                                    };
                                    reader.readAsDataURL(file);
                                }
                            });
                            document.getElementById('uploadForm').addEventListener('submit', async function (event) {
                                event.preventDefault();
                                const formData = new FormData();
                                formData.append('File', document.getElementById('file-upload').files[0]);

                                const response = await fetch('/Images', {
                                    method: 'POST',
                                    body: formData
                                });

                                if (response.ok) {
                                    const imageUrl = await response.text();
                                    document.getElementById("avatar-url").value = imageUrl;
                                    document.getElementById("image-preview").src = imageUrl;
                                    document.getElementById('my_modal_1').showModal();

                                } else {
                                    document.getElementById('my_modal_2').showModal();
                                }
                            });
                        });
                    </script>
                </div>

                <div class="flex flex-col items-center justify-center mt-4">
                    <button class="btn btn-outline btn-accent justify-center items-center" form="uploadForm" type="submit">Save Avatar</button>
                    <a class="block text-sm font-bold mb-2 pt-4 flex">
                        @User.Identity?.Name!
                    </a>
                        <a class="block text-sm font-bold mb-2 pt-4 flex" id="userId">
                            ID: <span id="actualUserId">@currentUser?.Id</span>
                            <i data-feather="copy" class="text-2xl copy-icon" aria-hidden="true" id="copyIcon"></i>
                            <span class="copy-text">Copy</span>
                        </a>

                    <script>
                        // Feather icons initialization
                        document.addEventListener('DOMContentLoaded', (event) => {
                          //  feather.replace();
                        });

                        document.getElementById('copyIcon').addEventListener('click', function () {
                            const actualUserIdElement = document.getElementById('actualUserId');
                            const copyTextElement = document.querySelector('.copy-text');

                            // Lấy ID người dùng từ phần tử span
                            const userIdText = actualUserIdElement.textContent.trim();

                            // Tạo một thẻ input ẩn để sao chép văn bản
                            const tempInput = document.createElement('input');
                            tempInput.value = userIdText;
                            document.body.appendChild(tempInput);
                            tempInput.select();
                            document.execCommand('copy');
                            document.body.removeChild(tempInput);

                            // Thay đổi văn bản thành "Copied"
                            copyTextElement.textContent = 'Copied';

                            // Thêm lớp copied để đổi màu chữ
                            copyTextElement.classList.add('copied');

                            // Đặt lại văn bản sau 2 giây
                            setTimeout(() => {
                                copyTextElement.textContent = 'Copy';
                                copyTextElement.classList.remove('copied');
                            }, 2000);
                        });
                    </script>
                </div>
            </div>
            <div class="w-full ml-8">
                <h2 class="flex text-2xl font-bold items-center mb-3">Your Profile</h2>
                <div class="flex w-full space-x-4 mb-2">
                    <div class="relative w-1/2 mr-2">
                        <label class="block text-sm font-bold mb-2"> <i data-feather="user" aria-hidden="true"></i> First Name</label>
                        <input disabled asp-for="Input.FirstName" aria-required="true" placeholder="Enter your first name"
                               class="input input-bordered w-full" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="relative w-1/2">
                        <label class="block text-sm font-bold mb-2"> <i data-feather="user" aria-hidden="true"></i> Last Name</label>
                        <input disabled asp-for="Input.LastName" aria-required="true" placeholder="Enter your last name"
                               class="input input-bordered w-full" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="relative mb-2">
                    <label class="block text-sm font-bold mb-2"><i data-feather="phone" aria-hidden="true"></i> Phone</label>
                    <input disabled asp-for="Input.PhoneNumber" aria-required="true" placeholder="Enter your phone"
                           class="input input-bordered w-full" />
                    <span class="text-danger"></span>

                </div>
                <div class="flex w-full space-x-4 mb-2">
                    <div class="relative w-1/2 mr-2">
                        <label class="block text-sm font-bold mb-2"><i data-feather="home" aria-hidden="true"></i> City</label>
                        <select disabled   asp-for="Input.City" aria-required="true" placeholder="Select your city"
                                class="input input-bordered w-full">
                            <option value="Can Tho">Can Tho</option>
                            <option value="Ho Chi Minh">Ho Chi Minh</option>
                        </select>
                    </div>
                    <div class="relative w-1/2">
                        <label class="block text-sm font-bold mb-2"><i data-feather="globe" aria-hidden="true"></i> State</label>
                        <select disabled asp-for="Input.State" aria-required="true" placeholder="Select your state"
                                class="input input-bordered w-full">
                            <option value="Vietnam">Vietnam</option>
                            <option value="Japan">Japan</option>
                        </select>
                    </div>
                </div>
                <div class="relative mb-6">
                    <label class="block text-sm font-bold mb-2"><i data-feather="clipboard" aria-hidden="true"></i> Description</label>
                    <textarea disabled asp-for="Input.Description" type class="textarea textarea-bordered h-24 w-full" placeholder="Description"></textarea>
                </div>

                <div class="mb-6 relative">
                    <div class="flex gap-2">
                        <button id="editProfileButton" class="btn btn-accent" type="button" onclick="enableInputs();enableInput()">Edit Profile</button>
                        <button id="saveButton" class="btn btn-outline btn-success" type="submit" >Save</button>
                        <a class="btn btn-success  @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Change Password</a>
                    </div>
                </div>
            </div>
    </form>


    <dialog id="my_modal_1" class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Avatar Save SuscessFull !</h3>
            <p class="py-4">Press ESC key or click the button below to close</p>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>
    <dialog id="my_modal_2" class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">We have not found any change!</h3>
            <p class="py-4">
                Please choose another picture before save your avatar
                Press ESC key or click the button below to close
            </p>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>
</div>

@* <body class="w-full" data-theme="retro">
  <div class="flex items-center justify-center min-h-screen">
      <form class=" w-5/6 bg-base-300 p-8 shadow-lg rounded-lg space-y-4 relative">
            <div class="row">
                <div class="col-md-6">
                    <form id="profile-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                            <label asp-for="Username" class="form-label"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                    </form>
                </div>
            </div>
      </form>
    </div>
</body> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}
