@page
@model GeoClinet.Pages.QuestionsTracking.IndexModel

@{
    ViewData["Title"] = "Questions Tracking";
}

<div class="content items-center justify-center">
    <div class="container w-[90%] mx-auto py-8 mb-8 items-center justify-center">
        <div class="flex justify-between items-center mb-8">
            <h2 class="text-2xl font-bold mb-4">@ViewData["Title"]</h2>
        </div>

        <form method="get" class="m-xl-auto">
            <div class="flex">
                <div class="mr-8">
                    <input id="searchInput" type="text" name="SearchTerm" value="@Model.SearchTerm" placeholder="Search question title Ctrl + K" class="input input-bordered w-64 md:w-auto" />
                </div>
                <div class="pt-4">
                </div>
            </div>
            <input type="submit" value="Search" style="display:none;" />
        </form>

        <div class="w-full mt-8">
            <table class="table w-full rounded-box table-auto overflow-auto">
                <thead>
                    <tr>
                        <th class="font-semibold p-4 relative pr-6 text-left">Username</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Question Title</th>
                        <th class="font-semibold p-4 relative pr-6 text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tracking)
                    {
                        <tr class="bg-base-100 hover">
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td class="font-semibold p-4 relative pr-6 break-words">@Html.DisplayFor(modelItem => item.Question.Title)</td>
                            <td>
                                <form method="post" class="action-form">
                                    <input type="hidden" asp-for="@item.Id" value="@item.Id" name="Id" />
                                    <button type="button" class="btn-delete" data-id="@item.Id">
                                        <i data-feather="trash-2" aria-hidden="true" class="text-error text-2xl"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<dialog id="deleteModal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg" id="modalTitle">Are you sure you want to delete this entry?</h3>
        <div class="modal-action">
            <button type="button" class="btn btn-danger" id="confirmButton">Yes</button>
            <button type="button" class="btn" onclick="closeDeleteModal()">No</button>
        </div>
    </div>
</dialog>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.btn-delete').forEach(function (button) {
                button.addEventListener('click', function () {
                    showDeleteModal(this.dataset.id);
                });
            });
        });

        function showDeleteModal(id) {
            document.getElementById('modalTitle').innerText = 'Are you sure you want to delete this entry?';
            const confirmButton = document.getElementById('confirmButton');
            confirmButton.onclick = function () {
                performDeleteAction(id);
            };
            document.getElementById('deleteModal').showModal();
        }

        function closeDeleteModal() {
            document.getElementById('deleteModal').close();
        }

        function performDeleteAction(id) {
            const form = document.querySelector(`.btn-delete[data-id="${id}"]`).closest('form');
            form.submit();
        }
    </script>
}
